.icon {
    height: 1rem;
    width: 100%;
}

.form-row {
    margin-bottom: 0.5rem;
}

.form-row:last-of-type {
    margin-bottom: 0rem;
}

.form-row.submit-row {
    text-align: center;
}

.full-width {
    width: 100%;
}

#full-image-show-container {
    display: none;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 1rem;
    position: fixed;
    top: 0rem;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.25);
    z-index: 999;
}

#full-image-show-container button {
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    border-radius: 2.5rem;
    box-shadow: 0rem 0.125rem 0.5rem -0.25rem #0008;
    padding: 0rem;
    margin: 0rem;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    background: white;
    cursor: pointer;
    transition: 0.25s;
}

#full-image-show-container button:hover {
    background: #f6f6f6;
}

#full-image-show-container .content {
    max-height: 100%;
    max-width: 100%;
    font-size: 0rem;
    overflow: auto;
}
