html {
    font-family: Helvetica, Arial, sans-serif;
    color: #333333;
}

.root-container {
    max-width: 1000px;
    margin: auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

.search-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background: #eee;
}

.search-container > .content {
    padding: 1rem;
    position: relative;
    background: #fff;
}

.item {
    display: block;
    height: 24rem;
    width: 16rem;
    box-shadow: 0rem 0.125rem 0.5rem -0.25rem #0008;
    margin: 1rem;
    padding: 0rem 1rem;
    background: #f6f6f6;
    font-size: 0rem;
}

.item > header {
    display: flex;
    height: 2rem;
    position: relative;
    bottom: 1rem;
}

.item-id {
    height: 2rem;
    border-radius: 2rem;
    box-shadow: 0rem 0.125rem 0.5rem -0.25rem #0008;
    margin: auto;
    padding: 0rem 0.75rem;
    background: white;
    font-size: 0rem;
    line-height: 2rem;
}

.item-id::before,
.item-id .container {
    font-size: 1rem;
}

.item-id::before {
    content: '#';
}

.item-content {
    width: 100%;
    height: 17rem;
    overflow: hidden;
}

.gallery-container {
    height: 10.5rem;
    position: relative;
    overflow: hidden;
}

.gallery-container button {
    height: 9rem;
    width: 2rem;
    border: none;
    padding: 0rem;
    position: absolute;
    top: 0rem;
    background: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    opacity: 0.5;
    transition: 0.25s;
    z-index: 99;
}

.gallery-container button:not(:disabled):hover {
    opacity: 1;
}

.gallery-container button .icon {
    fill: white;
}

.left-gallery-btn {
    left: 0rem;
}

.right-gallery-btn {
    right: 0rem;
}

.photo-view {
    height: 9rem;
    background: white;
    overflow: hidden;
}

.photo-view-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    right: 0rem;
    transition: 0.25s;
}

.photo-view-container div {
    width: 100%;
}

.photo-view-container div img {
    display: block;
    width: 16rem;
    margin: 0rem;
    cursor: pointer;
    transition: 0.25s;
}

.gallery-container .display-information {
    display: block;
    height: 1.5rem;
    font-size: 0rem;
    line-height: 1.5rem;
    text-align: center;
}

.gallery-container .display-information .icon,
.gallery-container .display-information .content {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.gallery-container .display-information .icon {
    height: 1.5rem;
    width: 1rem;
    fill: #333333;
}

.gallery-container .display-information .content {
    width: 2.5rem;
    font-size: 1rem;
}
