.object-search-form-container {
    max-width: 20rem;
}

.object-list {
    max-width: 1000px;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .tile.is-ancestor {
        margin: 0;
    }
}
