.has-centered-content {
    justify-content: center !important;
}

.object-list {
    max-width: 1000px;
    margin: auto;
}

.margin-bottom {
    margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1024px) {
    .tile.is-ancestor {
        margin: 0;
    }

    .margin-bottom {
        margin-bottom: 0.75rem;
    }
}
